body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  display: flex;
  flex: 1;
}
.sidebar {
  width: 25%;
  background-color: #6aad9f;
  color: white;
}
.main {
  flex: 1;
  background-color: #2e2e2e;
  color: rgb(216, 216, 216);
}
.footer {
  height: 50px;
  background-color: #d1b1b1;
  text-align: center;
  line-height: 50px;
}
